@{
    ViewData["Title"] = "My Podcasts";
}
<h1>BaconSale Podcast</h1>

<p>Their is this awesome podcast that you should listen to its called <a  href="https://baconsale.com/" target = "blank">BaconSale</a> and if you click on the word it will take you to its website.</p>
